<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>
<h1 th:text="${title}"></h1>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="name">*Item Name:</label>
        <input class="form-control" th:field="${item.name}" />
        <span th:errors="${item.name}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="number">Price (i.e., 10.00):</label>
        $<input class="form-control" th:field="${price.number}" /> /
        <select name="measureId">
            <option th:each="measure : ${measures}"
                    th:text="${measure.measure}"
                    th:value="${measure.id}"></option>
        </select>
        <span th:errors="${price.number}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="store">Offering Store:</label>
        <select name="storeId">
            <option th:each="store : ${stores}"
                    th:text="|${store.name} - ${store.address}|"
                    th:value="${store.id}"></option>
        </select>
    </div>
    <div class="form-group">
        <label th:for="aisle">Aisle:</label>
        <input class="form-control" th:field="${price.aisle}" />
    </div>
    <!--<div class="form-group">-->
        <!--<label th:for="">Displayed Unit of Measure:</label>-->
    <!--</div>-->
    <div class="form-group">
        <label th:for="notes">Notes:</label>
        <input class="form-control" th:field="${item.notes}" />
    </div>

    <div>
        *Required fields
    </div>

    <input type="submit" value="Create Item" />
</form>

</body>
</html>