<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>
<h1 th:text="${title}"></h1>

<table class="table">

    <tr>
        <th>Item</th>
        <th>Best Price</th>
        <th>From</th>
        <th>Notes</th>
    </tr>

    <tr th:each="item : ${items}">
        <td><a th:text="${item.name}" th:href="@{/}"></a></td>
        <td>
            <span th:text="${item.street.isEmpty()} ? '' : ${item.street}"></span><span th:text="!${item.street.isEmpty()} and (!${item.city.isEmpty()} or !${item.state.name == ''}) ? ', '"></span><span th:text="${item.city.isEmpty()} ? '' : ${item.city}"></span><span th:text="!${item.city.isEmpty()} and !${item.state.name == ''} ? ', '"></span><span th:text="${item.state.name == ''} ? '' : ${item.state.name}"></span><span th:text="${item.zipcode.isEmpty()} ? '' : | ${item.zipcode}|"></span>
        </td>
        <!-- TODO - Display matching store for Best Price from Item's List of Stores -->
        <td th:text="${item.tel}"></td>
        <td th:text="${item.notes.isEmpty()} ? 'N' : 'Y'"></td>
    </tr>

</table>

</body>
</html>