<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>
<h1 th:text="${title}"></h1>

<table class="table">

    <tr>
        <th>Item</th>
        <th>Best Price</th>
        <th>From</th>
        <th>Notes</th>
    </tr>

    <tr th:each="dispItem : ${dispItems}">
        <td><a th:text="${dispItem.item.name}" th:href="'/items/view/' + ${dispItem.item.id}"></a></td>
        <td th:text="${dispItem.price.dispConvPrice}"></td>
        <td th:text="${dispItem.price.store.name}"></td>
        <td th:text="${dispItem.item.notes.isEmpty()} ? 'N' : 'Y'"></td>
        <td><a th:href="'/items/update/' + ${dispItem.item.id}">Update</a></td>
    </tr>

</table>

</body>
</html>