<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>
<h1 th:text="${title}"></h1>

<table class="table">

    <tr>
        <th>Item</th>
        <th>Best Price</th>
        <th>From</th>
        <th>Notes</th>
    </tr>

    <tr th:each="dispItem,iterStat : ${dispItems}">
        <td><a th:text="${dispItem.name}" th:href="@{/}"></a></td>
        <td th:text="${bestPrices[iterStat.index].dispPrice}"></td>
        <td th:text="${bestPrices[iterStat.index].store.address}"></td>
        <td th:text="${dispItem.notes.isEmpty()} ? 'N' : 'Y'"></td>
    </tr>

    <!--<tr th:each="dispItem : ${dispItems}">-->
    <!--<td><a th:text="${dispItem.item.name}" th:href="@{/}"></a></td>-->
    <!--<td th:text="${dispItem.price.dispPrice}"></td>-->
    <!--<td ></td>-->
    <!--<td th:text="${dispItem.item.notes.isEmpty()} ? 'N' : 'Y'"></td>-->
    <!--</tr>-->

</table>

</body>
</html>