<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>
<h1 th:text="${title}"></h1>

<table class="table">
    <tr>
        <td>Item's Unit of Measure:</td>
        <td>
            <form method="post">
                <select name="measure" onchange="this.form.submit()">
                    <option th:each="measure : ${itemMeasures}"
                            th:text="${measure.name}"
                            th:value="${measure}"
                            th:selected="${dispItem.price.getCurrMeasure() == measure}">
                    </option>
                </select>
            </form>
        </td>
    </tr>
    <tr>
        <td>Current Best Price:</td>
        <td th:text="${dispItem.price.dispConvPrice}"></td>
    </tr>
    <tr>
        <td>From:</td>
        <td>
            <div><a th:text="${dispItem.price.store.name}" th:href="@{/stores}"></a></div>
            <div th:text="${dispItem.price.store.address}"></div>
            <div th:text="${dispItem.price.store.tel}"></div>
            <div><a th:text="${dispItem.price.store.website}" th:href="${dispItem.price.store.website}"></a></div>
        </td>
    </tr>
    <tr>
        <td>Aisle:</td>
        <td th:text="${dispItem.price.aisle}"></td>
    </tr>
    <tr>
        <td>Notes:</td>
        <td th:text="${dispItem.item.notes}"></td>
    </tr>
</table>

<h3>Price History</h3>
<table class="table">

    <tr>
        <th>Date Added</th>
        <th>Converted Price</th>
        <th>Entered Price</th>
        <th>From</th>
    </tr>

    <tr th:each="price : ${dispItem.priceList}">
        <form method="post">
            <td th:text="${price.postedAt}"></td>
            <td th:text="${price.dispConvPrice}"></td>
            <td th:text="${price.dispOrigPrice}"></td>
            <td>
                <div><a th:text="${price.store.name}" th:href="@{/stores}"></a></div>
                <div th:text="${price.store.address}"></div>
            </td>
            <td>
                <input type="hidden" name="priceId" th:value="${price.id}" />
                <input type="submit" value="Remove" />
            </td>
        </form>
    </tr>

</table>

</body>
</html>